:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.synth {
  display: flex;
}


.keyboard {
  display: grid;
  gap: 10px;
  flex-direction: column;
}

.row {
  display: flex;
  gap: 10px;
}

.key {
  border: 1px solid black;
  width: 30px;
  height: 40px;
  transform: skew(-10deg, -10deg) rotate(10deg);
  background-color: white;
  border-radius: 5px;
}
.key.is-pressed {
  background: black;
}



button.start {
  width: 200px;
  height: 200px;
  position: absolute;
  right: 0px;
}

.strumplate {
  width: 200px;
  
  display: flex;
  flex-direction: column-reverse;

}

.strumplate div {
  width: 100%;
  height: 20px;
  border-bottom: 1px solid black;
}


.keyboard2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  transform: skew(10deg, 10deg) rotate(-10deg);
  padding-left:100px;
  padding-top: 20px;
}

.keyboard2 .heading,
.keyboard2 .body
 {
  display: flex;
  gap: 20px;
}

.keyboard2 .heading div {
  width: 30px;

}

.keyboard2 .column {
  display: flex;
  flex-direction: column;
  gap: 20px;

  border: 1px solid blue;
}