:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  user-select: none;
  touch-action: none;
  overscroll-behavior: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.organ-toggle {
  padding: 1rem;
}

.organ-toggle input {
  margin-right: 0.5rem;
}

.synth {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.key {
  border: 1px solid black;
  min-width: 40px;
  min-height: 70px; 
  transform: skew(-2deg, -2deg) rotate(2deg);
  background-color: white;
  border-radius: 5px;
}
.key.is-pressed {
  background: black;
}



button.start {
  width: 200px;
  height: 200px;
  position: absolute;
  right: 0px;
}

.strumplate {
  width: 200px;
  height: 100vh;
  
  display: flex;
  flex-direction: column;

}

.strumplate div {
  width: 100%;
  flex: 1;
  border-bottom: 1px solid black;
}


.keyboard2 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
}

.keyboard2 .heading,
.keyboard2 .body
 {
  display: flex;
  gap: 20px;
}

.keyboard2 .heading {
  transform: skew(-2deg, -2deg) rotate(2deg);
}

.keyboard2 .body {
  
}

.keyboard2 .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 100%;
  padding: 0.45rem;
  transform: skew(2deg, 2deg) rotate(-2deg);

  border: 2px solid rgba(0,0,255,0.4);
}