html,
body {
  --blue: oklch(47.18% 0.1718 277.94 / 75.66%);
  --skew: skew(10deg, 10deg) rotate(-10deg);
  --negativeSkew: skew(-10deg, -10deg) rotate(10deg);
  max-width: 100vw;
  overflow-x: hidden;
  user-select: none;
  touch-action: none;
  overscroll-behavior: none;
  background-color: oklch(94.51% 0.0214 108);
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.organ-toggle {
  padding: 1rem;
}

.organ-toggle input {
  margin-right: 0.5rem;
}

.synth {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px 40px;
  max-width: 1000px;
  margin: 0 auto;
}

.key {
  border: 2px solid oklch(63.35% 0.0516 108);
  transform: var(--negativeSkew);
  background-color: oklch(96.44% 0.017 108);
  border-radius: 5px;
  width: 100%;
  aspect-ratio: 1/1.2;
  box-shadow: oklch(63.35% 0.0516 108) -2px 2px 0px;
}
.key.is-pressed {
  background: oklch(63.35% 0.0516 108);
}



button.start {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0px;
}

.strumplate-container {
  border: 2px solid var(--blue);
  padding: 1rem;
}

.strumplate {
  width: 100%;
  height: 200px;
  
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.strumplate div {
  width: 100%;
  flex: 1;
  /* border-right: 1px solid black; */
  background-color: oklch(97.03% 0.0055 108);
}

.strumplate div.strummed {
  background-color: oklch(0.83 0.01 0.15 / 1);
}


.keyboard2 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
}

.keyboard2 .heading,
.keyboard2 .body
 {
  display: flex;
  gap: 20px;
}

.keyboard2 .heading {
  transform: var(--negativeSkew);
  width: 1rem;
  color: var(--blue);
  font-weight: bold;
}

.keyboard2 .body {
  
}

.keyboard2 .column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  height: 100%;
  /* padding: 0.45rem; */
  transform: var(--skew);
  /* border: 2px solid rgba(0,0,255,0.4); */
  border: 2px solid var(--blue);
}

.controls {
  padding: 0 40px;
  display: flex;
}

.controls div {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.controls input[type="range"] {
  display: block;
}